.title {
  font-size: 1.5rem;
  font-weight: 400;
}

.table th {
  font-weight: 600;
  text-align: left;
}

.table td {
  padding: 0.7rem 0;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.user:hover {
  cursor: pointer;
  opacity: 0.8;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.status {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  background: #4b5c4e;
  color: white;
}

.status:hover {
  cursor: pointer;
  opacity: 0.8;
}

.status.pending {
  background: #f1c40f;
}

.status.completed {
  background: #2ecc71;
}

.status.failed {
  background: #e74c3c;
}