.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
}

.user {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.userInfo h2 {
    margin: 0;
    font-size: 1rem;
}

.userInfo p {
    margin: 0;
    font-size: 0.8rem;
    color: #999;
}

.menuItems {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
}

.menuItems h3 {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--textSoft);
}

.logout {
    display: flex;
    flex-direction: column;
}

.logout .menuItem {
    display: flex;
    padding: 1rem;
    margin: 0 1rem;
    gap: 1rem;
    font-size: large;
    border: none;
    background-color: transparent;
    color: white;
}

.logout .menuItem:hover {
    opacity: 0.7;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #212529;
}