.footerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footerInfo p {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #999;
}

.footerInfo p a {
    display: flex;
    gap: 5px;
    color: white;
}

.footerInfo span {
    font-size: 14px;
    color: #999;
}