.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundSoft);
    border-radius: 5px;
    padding: 1.5rem;
    width: 25%;
}

.title {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 1rem;
    margin-top: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border-color: var(--background);
}

.form button {
    padding: 1rem;
    font-size: 1rem;
    width: 25%;
    align-self: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}