.wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--backgroundSoft);
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.form input,
.form select,
.form textarea {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    background-color: var(--backgroundSoft);
    color: var(--textSoft);
    border-color: var(--textSoft)
}

.form label {
    font-weight: 500;
    color: white;
}

.form button {
    padding: 1rem;
    font-size: 1rem;
    width: 25%;
    align-self: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}