.card {
    background-color: var(--backgroundSoft);
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1rem;
    flex: 1;
    color: #999;
}

.card:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.cardContent h3 {
    font-size: 1.5rem;
    color: var(--textSoft);
}

.cardContent .cardInfo {
    font-size: 0.8rem;
}

.cardContent .cardInfo .positive {
    color: #00ff37;
}

.cardContent .cardInfo .negative {
    color: #ff0000;
}