.wrapper {
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
