.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.navbar p {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--backgroundSoft);
    background-color: var(--background);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.menu a:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.search {
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.search .searchIcon {
    background-color: var(--background);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.3rem;
}

.search input {
    font-size: 1rem;
    padding: 0.5rem;
    border-left: none;
    border-top: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    background-color: var(--background);
    border-color: white;
    color: white;
}

.search:hover,
.search:focus-within {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}